
html, body, #map 
{
        height: 97%;
        margin: 0;
        padding: 0;
        background-color:darkgreen;
}

#title
{
  color: white;  
    height: 25px;
}

#tag
{
    position: fixed;
    top: 0px;
    right: 10px;
}

ul{
    list-style-type: none;
}

.floater 
{
  position: absolute;
  z-index: 999;
}


#buttonContainer 
{
  bottom: 10px;
  left: 10px;
}

button 
{
  margin: 0px;
  padding: 8px;
  width: 285px;
  background-color: white;
  border-radius: 6px;
  font-size:14px;
  font-weight:900;
  border: 2px solid rgba(0,100,0,0.5);
}

button:hover 
{
  cursor:pointer;
  background-color:darkgreen;
  color:white;
}

.vertical-menu {
    width: 350px;
    height: 800px;
    overflow-y: auto;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    position: fixed;
    top: 115px;
    width: 350px;
    height: 25px;
    background-color: #4CAF50;
    color: white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    transition: 0.3s;
    width: 400px;
    height: 300px;
    position: fixed;
    right: 25px;
    bottom: 100px;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    width:400px;
    height:50px;
    background-color: white;
    color: black;
    position: fixed;
    bottom: 50px;
    right: 10px
}
/*https://www.w3schools.com/css/css_navbar.asp*/